---
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.jsx';
import '../components/home.css'
import background from '../assets/background.svg';
import alexProfessionalPic from '../assets/alexxu_profile.jpeg'
import alexMitPic from '../assets/alexxu-mit-profile.jpg'
import personalCover from '../assets/personal-cover.png'
import smokeAppPic from '../assets/smoke-app-cover.png'
import btpHubLogo from '../assets/BTPHub_Logo.svg'
import btpHubPic from '../assets/btphub-cover-photo.png'
import bntPic from '../assets/bnt-website-cover.png'
import researchPic from '../assets/math-research-cover.png'
import wornOut from '../assets/worn-out.jpg'
import rodeoHorse from '../assets/rodeo-horse.jpg'
import deepInThought from '../assets/deep-in-thought.jpg'
import Cady from '../assets/cady_3.jpg'
import React from 'react';
import DOMPurify from 'dompurify'
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div id="container">
		<img id="background" src={background.src} alt="" fetch-priority="high" />
		<header class="header-container">
			<div class="logo">
				<div>
					<span style={{fontSize: '26px', color: '#f5fcf5'}}>
						<i class="fa-solid fa-code"></i>
					</span>
				</div>
				<div class="logo-name">
					Alexander Xu
				</div>
			</div>
			<div class="nav-bar-long">
				<a href="#" class="nav-link">Home</a>
				<a href="#about" class="nav-link">About Me</a>
				<a href="#portfolio" class="nav-link">Project Portfolio</a>
				<a href="#creative" class="nav-link">Creative Work</a>
			</div>
			<span style={{color: 'white'}} id="menuButton">
				<i class="fa-solid fa-bars fa-xl"></i>
			</span>

			<div class="nav-bar-short hidden" id="menuContainer">
				<a href="#" class="nav-link">Home</a>
				<a href="#about" class="nav-link">About Me</a>
				<a href="#portfolio" class="nav-link">Project Portfolio</a>
				<a href="#creative" class="nav-link">Creative Work</a>
			</div>

			
		</header>
		
		<main>
			<div class="hero">
				<div class="hero-side-1">
					<div class="big-text">
						<span style={{color: "#ca36ff"}}>Hi</span>, my name is Alexander Xu
					</div>
					<div class="basic-description">
						I am a senior at Johns Creek High School in Johns Creek, Georgia, a lover of math and STEM, an avid reader and writer, and an aspiring entrepreneur. 
					</div>
					<!-- <div class="cs-title">
						My 5 C's
					</div>
					<div class="cs-container">
						<div class="interest">
							<span class="interest-icon">
								Curiosity
							</span>
						</div>
						<div class="interest">
							<span class="interest-icon">
								Connection
							</span>
						</div>
						<div class="interest">
							<span class="interest-icon">
								Community
							</span>
						</div>
						<div class="interest">
							<span class="interest-icon">
								Creativity
							</span>
						</div>
						<div class="interest">
							<span class="interest-icon">
								Challenge
							</span>
						</div> -->
					<!-- </div> -->
				</div>
				<div class="hero-side-2">
					<img src={alexProfessionalPic.src} alt="" class="prof-pic" />
				</div>
			</div>

			<div class="my-interests">
				<div class="interest-title">
					My Interests
				</div>
				<div class="interests-container">
					<div class="interest">
						<span class="interest-icon">
							Mathematics
						</span>
					</div>
					<div class="interest">
						<span class="interest-icon">
							Public Speaking
						</span>
					</div>
					<div class="interest">
						<span class="interest-icon">
							Computer Science
						</span>
					</div>
					<div class="interest">
						<span class="interest-icon">
							Creative Writing
						</span>
					</div>
					<div class="interest">
						<span class="interest-icon">
							Climate Advocacy
						</span>
					</div>
					<div class="interest">
						<span class="interest-icon">
							Student Research
						</span>
					</div>
				</div>
			</div>

			<div class="about" id="about">
				<div class="about-container">
					<div class="about-side-1">
						<iframe width="100%" height="100%" src="https://www.youtube.com/embed/858BfPnWR70?si=a7UpqGf_3tTastCm&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						<!-- <img src={personalCover.src} alt="" class="about-pic" /> -->
					</div>
					<div class="about-side-2">
						<div class="about-title">
							<div>
								About Me
							</div>
							<div class="fancy-underline">
							</div>
						</div>

						<div class="about-paragraph">
							Hi, I’m Alexander Xu! I'm a senior at Johns Creek High School with a passion for STEM, innovation, and leadership. 
							I love diving into math, computer science, or combining the two through entrepreneurship and research, using my skills to tackle real-world challenges.
							{/* <!-- <b><span style="color: rgb(190, 12, 48);">
							(check out a news interview following my USAJMO qualification, where I talked about my passion for math:
							<a href="https://www.neighborhoodtv.com/vod/junior-math-olympiad-qualifier-alex-xu-04-18-2024-atlanta.html?utm_source=facebook&utm_medium=social&utm_content=ap_pl9xottrrb" target="_blank">News Story</a>)</span></b> --> */}
						</div>
						<div class="about-paragraph">
							Over the years, I’ve worked on two research projects that focus on benefiting the public and addressing societal issues, experiences that have shaped my love for problem-solving. 
							Meanwhile, as the co-founder of a community service app, BTPHub, I’ve learned how to use technology to bring communities closer together.
							Through my initiative with the BNT Foundation, I’ve focused on helping breast cancer patients regain their confidence by providing essential resources. 
							Lastly, I’m deeply committed to environmental advocacy, contributing to the fight against climate change through policy.
						</div>
						<div class="about-paragraph">
							In my free time, I like to draw, read, write, and play tennis. 
							Ultimately, I'm hopeful to be a part of a more green, more connected, and brighter future through research and leadership in the community. <b>Contact me at: <a href="mailto: xualex008@gmail.com">xualex008@gmail.com</a></b>
						</div>
					</div>
				</div>
			</div>

			
			<div class="portfolio" id="portfolio">
				<div class="portfolio-title">
					<div>
						My Project Portfolio
					</div>
					<div class="fancy-underline">
					</div>
				</div>
				
				<div class="project-portfolio-container">

					<div class="portfolio-project">
						<div class="project-text">
							<div class="project-title">
								<div>
									Smoke Aware: A Real-Time Wildfire & Smoke Data App
								</div>
							</div>
							
							<div class="project-subtitle">
								<span>
									<i class="fa-regular fa-hand-pointer"></i>
								</span>
								<b>Visit Web App</b>:<a href="https://smoke-aware-app.vercel.app/" target="_blank"><b>Enter App</b></a>
							</div>
							<div class="project-subtitle">
								<span style={{color: 'red'}}>
									<i class="fa-brands fa-youtube"></i>
								</span>
								Please watch the <b>demo video</b> <b style={{color: 'rgb(190, 12, 48)'}}>(Congressional App Challenge 2nd Place Winner)</b>:<a href="https://youtu.be/-WQ2pu42kxY" target="_blank"><b>Video</b></a>. 
							</div>
						
							
							<div class="project-subtitle" style={{borderBottom: '1px solid rgb(116, 113, 113)', paddingBottom: '12px'}}>
								<span>
									<i class="fa-brands fa-github"></i>
								</span>
								Github & User Guide:<a href="https://github.com/AlexZXu/smoke-aware-congress-app" target="_blank"><b>Repository</b></a>
							</div>

							<div class="project-paragraph" style={{color: 'rgb(50, 47, 47)'}}>
								<b>
									Tools used: NextJS, React, JavaScript, Tailwind CSS, Firestore Database, Google Maps API, OpenAI API, Python, BeautifulSoup
								</b>
							</div>
							
							<div class="project-paragraph" style={{marginTop: '15px'}}>
								During my research with Emory Rollins School of Public Health on wildfire smoke, I saw how there were often challenges in accessing high quality data from sources like the government. 
								This data is critical for research analysis and creating prediction models. 
								I have always been concerned about climate change, and I am currently pushing a resolution for Fulton County Schools to reduce their climate impact through electrification and awareness. 
								This inspired me to create Smoke Aware.
							</div>
							<div class="project-paragraph">
								Key Features:
								<ul>
									<li>
										Data Visualization: Offers user-friendly displays of real-time and historical wildfire data aggregated from public sources like the Western Regional Climate Center (WRCC) and EPA, enabling users to explore trends with toggles, tooltips, and interactive graphs.
									</li>
									<li>
										Localized Forecasts: Allows users to input their zip code for specific air quality insights, pollutant (Carbon monoxide, Nitrogen dioxide, Ozone, etc) concentrations, and detailed hourly predictions.
									</li>
									<li>
										Custom Data Retrieval: Provides customizable tools to fetch, preview, and download datasets, supporting researchers with detailed analysis needs.
									</li>
									<li>
										AI Analysis and Insights: Includes a custom AI model built on retrieval-augmented generation (RAG) for answering wildfire and climate-related queries, improving efficiency for researchers and raising public awareness.
									</li>
								</ul>
							</div>
						</div>
						<div class="project-image">
							<img src={smokeAppPic.src} alt="" class="project-pic" />
						</div>
					</div>
					
					<div class="portfolio-project">
						<div class="project-text">
							<div class="project-title">
								Optimization of Healthcare Systems with Voronoi Diagrams: A Research Project
							</div>
							<div class="project-subtitle">
								<span style={{color: '#6f2108'}}>
									<i class="fa-solid fa-book"></i>
								</span>
								<b>Read my Research Paper</b>:<a href="https://drive.google.com/file/d/1U-StrYrYklnhp90GwlJ5uHOJFBSKz6-3/view?usp=drive_link" target="_blank"><b>Paper</b></a>
							</div>
							<div class="project-subtitle" style={{borderBottom: '1px solid rgb(116, 113, 113)', paddingBottom: '12px'}}>
								<span>
									<i class="fa-brands fa-github"></i>
								</span>
								Research Repository & Jupyter Notebook:<a href="https://github.com/AlexZXu/voronoi-health-research" target="_blank"><b>Github</b></a>
							</div>
						
							
							<div class="project-paragraph" style={{color: 'rgb(50, 47, 47)'}}>
								<b>
									Tools used: Python, Matplotlib, NumPy, SciPy, LaTeX, Jupyter Notebooks, Unsupervised ML Algorithms (e.g. K-Means Clustering)
								</b>
							</div>

							<div class="project-paragraph" style={{marginTop: '15px'}}>
								My research topic focuses on the application of Voronoi diagrams in public health system optimization, where I've finished a preprint draft.
								It is particularily involved in creating models to assess public health facility systems and utilizing algorithms rooted in machine learning and clustering to help optimize them.
								In order to test algorithms and draw Voronoi diagrams, which are central to my research, I've written Python programs using MatPlotLib, SciPy, and NumPy. 
							</div>
							<div class="project-paragraph">
								In my research project, I've tested hypotheses on real data from Atlanta.
								In order to run the programs and observe results, simply have the necessary packages installed and, in the command line, run one of the .py files.
								For my project, I have also been independently writing a research paper, with the LaTeX source code available in the repository. You can access the research paper right now.
							</div>
						</div>
						<div class="project-image" >
							<img src={researchPic.src} alt="" class="project-pic" style={{background: 'white'}} />
						</div>
					</div>

					<div class="portfolio-project btphub-size">
						<div class="project-text">
							<div class="project-title">
								BTPHub: A Startup and App for Neighborhoods
							</div>
							<div class="project-subtitle" style={{borderBottom: '1px solid rgb(116, 113, 113)', paddingBottom: '12px'}}>
								<span>
									<i class="fa-regular fa-hand-pointer" style={{color: '#060021', fontWeight: '500'}}></i>
								</span>
								Visit BTPHub Pilot:<a href="https://qa.btphub.com/" target="_blank"><b>Enter Website</b></a>
							</div>

							<div class="project-paragraph" style={{color: 'rgb(50, 47, 47)'}}>
								<b>
									Tools used: Vue.js, Javascript, HTML, CSS, Figma, C# for .NET Core, .NET Aspire, Postman API Platform, SendGrid API, Azure SQL
								</b>
							</div>
							<div class="project-paragraph" style={{color: 'rgb(0, 0, 0)'}}>
								<div style={{color: 'rgb(77, 7, 7)'}}><u><b>Development Highlights: </b></u></div>
								<ul class="highlight-list">
									<li><b style={{color: 'rgb(177, 24, 24)'}}><i class="fa-solid fa-star" style={{marginRight: '3px', color: '#f6c832'}}></i> 40+</b> neighborhoods registered pre-release.</li>
									<li><b style={{color: 'rgb(177, 24, 24)'}}>35k+</b> lines of code written across frontend, backend, and middleware (according to VSCode).</li>
									<li><b style={{color: 'rgb(177, 24, 24)'}}>100+</b> components and pages created across frontend web app.</li>
								</ul>
							</div>
							
							<div class="project-paragraph" style={{marginTop: '15px'}}>
								BTPHub is a tech startup I co-founded focused on connecting families with trusted childcare and senior care providers within their local communities. 
								Our application makes it easy to find and schedule care, fostering stronger neighborhood connections.
								The app enables providers, such as babysitters and petsitters, to share their availability and accept service requests, while customers can easily find trusted providers nearby and manage all their bookings. 
								The app’s neighborhood-centered design ensures a trusted, community-based experience for all users.
							</div>
							<div class="project-paragraph">
								As CTO, our team uses tools like SQL databases, APIs, and JavaScript frameworks (e.g., Vue) to create a smooth and reliable user experience. 
								BTPHub aims to make care more accessible and convenient for everyone.
							</div>
						</div>
						<div class="project-image" >
							<img src={btpHubPic.src} alt="" class="project-pic" style={{background: 'white'}}/>
						</div>
					</div>

					<div class="portfolio-project">
						<div class="project-text">
							<div class="project-title">
								BNT Foundation Website
							</div>
							<div class="project-subtitle" style={{borderBottom: '1px solid rgb(116, 113, 113)', paddingBottom: '12px'}}>
								<span>
									<i class="fa-regular fa-hand-pointer"></i>
								</span>
								Visit BNT Foundation Website:<a href="https://www.bntllc.co/foundation" target="_blank"><b>Enter Website</b></a>
							</div>
							
							<div class="project-paragraph" style={{color: 'rgb(50, 47, 47)'}}>
								<b>
									Tools used: NextJS, React, Javascript, Three.js, HTML, CSS, REST APIs
								</b>
							</div>
							
							<div class="project-paragraph" style={{marginTop: '15px'}}>
								BNT Foundation is the non-profit I co-founded. We are a team with over 20 volunteers dedicated to supporting communities in need. 
								Some of our initiatives include partnering with the Harvard China Fund and Jianghao to donate specialized bras to breast cancer patients, and helping sponsor and organize community events like Johns Creek's New Years Gala.
							</div>
							<div class="project-paragraph">
								I designed and built the BNT Foundation website from scratch using NextJS, focusing on creating a clear, user-friendly design.
								The website features interactive features, including 3D hero sections that enable users to explore dynamic visuals. Developing these features involved learning fundamental 3D modeling and WebGL techniques using Spline.
								I also utilized REST APIs from SendGrid and Paypal to develop key user interaction features in the site. At the core, the website includes detailed information about what we've done at BNT Foundation.
							</div>
						</div>
						<div class="project-image" >
							<img src={bntPic.src} alt="" class="project-pic" style={{background: 'white'}} />
						</div>
					</div>
				</div>
			</div>

			<Home client:only="react"/>

			<div class="footer">
				<div class="footer-item">
					Alexander Xu
				</div>
				<div class="footer-item">
					<a href="mailto: xualex008@gmail.com">Contact</a>
				</div>
			</div>
		</main>
	</div>
</Layout>
